@import "../../colors";

.search-component {
  background: $transparent-red;
  width: 100%;
  padding: 1rem;

  @media screen and (max-width: 767px) {
    background: $red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .search-form {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-end;
    color: $dirty-white;
    transition: color 0.3s;

    @media screen and (max-width: 767px) {
      color: $white;
      text-shadow: none;
    }

    &:hover {
      color: $white;
    }

    div {
      flex: 1;
      color: inherit;
    }

    label {
      margin-bottom: 0.25rem;
      font-size: 0.75rem;
      display: block;
    }

    $field-height: 2rem;
    input {
      height: $field-height;
      flex: 1;
      padding: 0 0.5rem;
      background: transparent;
      border: 1px solid $transparent-red;
      color: inherit;
      width: 100%;
    }

    button {
      background: transparent;
      border: 1px solid $transparent-red;
      color: inherit;
      height: $field-height;
      padding: 0 2rem;
      transition: background-color 0.3s;

      img {
        max-width: 1rem;
      }

      &:hover,
      &:active,
      &:focus {
        color: $white;
        cursor: pointer;
        background: $transparent-red;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }

    @media screen and (max-width: 767px) {
      input,
      button {
        background: $white;
      }

      input {
        border-color: $red;
      }

      button {
        border-color: $red;

        &:hover,
        &:active,
        &:focus {
          color: $white;
          cursor: pointer;
          background: #fefefe;

          img {
            filter: none;
          }
        }
      }
    }
  }
}
