.search-component {
  margin-bottom: 1.5rem;
  display: flex;
}

.search-component input {
  width: 100%;
  max-width: 100%;
  padding: 1rem 0.5rem;
  background: transparent;
  border: 1px solid #ff8e88;
}

.search-component .search-bar {
  display: flex;
  flex: 1;
}

.search-component .search-bar button {
  min-width: 150px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #ff8e88;
}